<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.hospital.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>com.hospital.controllers.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgendaController</servlet-name>
        <servlet-class>com.hospital.controllers.AgendaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PacienteController</servlet-name>
        <servlet-class>com.hospital.controllers.PacienteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CitaController</servlet-name>
        <servlet-class>com.hospital.controllers.CitaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadFileController</servlet-name>
        <servlet-class>com.hospital.controllers.ReadFileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InformeController</servlet-name>
        <servlet-class>com.hospital.controllers.InformeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MedicosInforme</servlet-name>
        <servlet-class>com.hospital.controllers.MedicosInforme</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LaboratoristaController</servlet-name>
        <servlet-class>com.hospital.controllers.LaboratoristaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResultadoController</servlet-name>
        <servlet-class>com.hospital.controllers.ResultadoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/AdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgendaController</servlet-name>
        <url-pattern>/AgendaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PacienteController</servlet-name>
        <url-pattern>/PacienteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CitaController</servlet-name>
        <url-pattern>/CitaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadFileController</servlet-name>
        <url-pattern>/ReadFileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InformeController</servlet-name>
        <url-pattern>/InformeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MedicosInforme</servlet-name>
        <url-pattern>/MedicosInforme</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LaboratoristaController</servlet-name>
        <url-pattern>/LaboratoristaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResultadoController</servlet-name>
        <url-pattern>/ResultadoController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
